
img {
    max-width: 100%;
}

/* header */

.ms_header {
    background-color: #2C3E50;
}

.ms_logo {
    font-weight: bold;
    color: white;
    font-size: 1rem;
}

/* /header */

/* hero section */
.ms_hero {
    background-color: #1ABC9C;
}

.ms_img-avatar {
    max-width: 200px;
}

.ms_list-bootstrap {
    list-style-type: none;
}

.ms_list-bootstrap li a {
    font-size: 0.8rem;
}

/* /hero section */

/* cards section */

.ms_bg-1 {
    background-color: #BA4B63;
}

.ms_bg-2 {
    background-color: #1EA4B6;
}

.ms_bg-3 {
    background-color: #140F0F; 
}

.ms_bg-4 {
    background-color: #1C83C1;
}

.ms_bg-5 {
    background-color: #0E38B5;
}

.ms_bg-6 {
    background-color: #CCB2A3;
}

/* /cards section */

/* about section */

.ms_about-section {
    background-color: #1ABC9C;
}

.ms_button {
    color: white;
    background-color: #1ABC9C;
    border: 1px solid white;
    border-radius: 5px;
}
/* /about section */

/* form section */

.ms_form {
    border: none;
    color: #606C7A;
    border-bottom: 1px solid #606C7A;
}

/* /form section */

/* contacts section */

.ms_contacts-section {
    background-color: #3A546D;

}

.ms_list-icon {
    list-style-type: none;
}

.ms_list-icon li a {
    border: white;
}

.ms_icon-contact {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 45px;
}

.ms_btn-contact {
    color: #1ABC9C;
    text-decoration: none;
}
/* /contacts section */

/* footer */

.ms_footer {
    background-color: #2C3E50;
}
/* /footer */
/* media query tablet */

@media screen and (min-width:768px) {
    
    .ms_contacts-section {
        max-height: 200px;
    }

    .ms_img-avatar {
        max-width: 250px;
    }

    .ms_list-bootstrap li a {
        font-size: 1rem;
    }
}

/* /media query tablet */


/* media query desktop */

@media screen and (min-width: 1024px) {
    
    .ms_img-avatar {
        max-width: 250px;
    }

    .ms_list-bootstrap li a {
        font-size: 1.2rem;
    }
}

/* /media query desktop */